.attempt {
  user-select: none;
  .question {
    margin-top: 24px;

    .img {
      width: fit-content;
      max-width: 75%;

      img {
        max-width: 100%;
        max-height: 150px;
        border-radius: 4px;
      }
    }

    .divider {
      margin: 5px;
      border-top: 1px solid #303030;
      display: inline-block;
    }

    .options {
      .radio {
        &-group {
          display: flex;
          align-items: center;
          margin: 16px 0;
        }

        &-button {
          margin-right: 8px;
        }

        &-content {
          width: 100%;
        }
      }

      .checkbox {
        &-group {
          display: flex;
          align-items: center;
          margin: 16px 0;
        }

        &-button {
          margin-right: 16px;
        }

        &-content {
          width: 100%;
        }
      }

      .matching {
        &-group {
          display: flex;
          width: 100%;
          overflow: hidden;
        }

        &-left {
          display: flex;
          flex-wrap: wrap;
          width: 50%;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          box-sizing: border-box;
          margin-right: 4px;

          &-drag {
            width: 100%;
            border: 1px solid hsla(0, 0%, 100%, 0.2);
            padding: 5px;
            border-radius: 4px;
            margin-bottom: 5px;
          }
        }

        &-right {
          display: flex;
          flex-wrap: wrap;
          width: 50%;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          box-sizing: border-box;
          cursor: move;
          margin-left: 4px;

          &-drag {
            width: 100%;
            border: 1px solid hsla(0, 0%, 100%, 0.2);
            padding: 5px;
            border-radius: 4px;
            margin-bottom: 5px;
          }
        }
      }
    }
  }

  .navigate {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    .timer {
      width: 100%;
    }
  }

  .finalize {
    text-align: center;
    margin-top: 24px;
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  color: white;
  border: 1px solid hsla(0, 0%, 100%, 0.2);
  padding: 5px;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);

  img {
    max-width: 100%;
    max-height: 150px;
    border-radius: 4px;
  }
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

::ng-deep mat-form-field {
  .mat-form-field-infix {
    width: fit-content;
  }
}
