<app-navbar></app-navbar>
<div class="container">
  <div class="content">
    <div class="header">
      <div class="header-left">
        <h1>{{ section?.title }}</h1>
      </div>
      <div class="header-right">
        <button
          routerLink="/"
          mat-icon-button
          aria-label="Назад"
          matTooltip="Назад"
        >
          <mat-icon>arrow_back</mat-icon>
        </button>
      </div>
    </div>
    <div *ngIf="attempt; else loading" class="attempt">
      <mat-card class="question">
        <div [innerHtml]="question?.text"></div>
        <div *ngIf="question?.imageUrl">
          <div
            *ngIf="question?.imageUrl"
            class="flex-row-static"
            style="gap: 8px; margin-top: 8px"
          >
            <div class="flex-row-static-item img">
              <img [src]="question.imageUrl" />
            </div>
            <div class="flex-row-static-icon">
              <div>
                <a [href]="question.imageUrl" target="_blank">
                  <mat-icon
                    matTooltip="Просмотреть изображение"
                    nclass="pointer"
                    >open_in_new</mat-icon
                  >
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="mat-divider"></div>
        <div class="options" [ngSwitch]="question.type">
          <ng-container *ngSwitchCase="0">
            <mat-radio-group (change)="changeRadio($event.value)">
              <div *ngFor="let option of question.options; let i = index">
                <div class="radio-group">
                  <mat-radio-button
                    class="radio-button"
                    [value]="i"
                    [checked]="option.chosen"
                  ></mat-radio-button>
                  <div
                    [innerHtml]="option.text"
                    class="radio-content"
                    (click)="changeRadio(i)"
                    class="pointer"
                  ></div>
                </div>
                <div *ngIf="option?.imageUrl">
                  <div
                    *ngIf="option?.imageUrl"
                    class="flex-row-static"
                    style="gap: 8px; margin-left: 36px"
                  >
                    <div class="flex-row-static-item img">
                      <img [src]="option.imageUrl" />
                    </div>
                    <div class="flex-row-static-icon">
                      <div>
                        <a [href]="option.imageUrl" target="_blank">
                          <mat-icon
                            matTooltip="Просмотреть изображение"
                            nclass="pointer"
                            >open_in_new</mat-icon
                          >
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </mat-radio-group>
          </ng-container>
          <ng-container *ngSwitchCase="1">
            <div *ngFor="let option of question.options">
              <div class="checkbox-group">
                <mat-checkbox
                  class="checkbox-button"
                  [checked]="option.chosen"
                  (change)="option.chosen = !option.chosen"
                ></mat-checkbox>
                <div
                  [innerHtml]="option.text"
                  class="radio-content"
                  (click)="option.chosen = !option.chosen"
                  class="pointer"
                ></div>
              </div>

              <div *ngIf="option?.imageUrl">
                <div
                  *ngIf="option?.imageUrl"
                  class="flex-row-static"
                  style="gap: 8px; margin-left: 36px"
                >
                  <div class="flex-row-static-item img">
                    <img [src]="option.imageUrl" />
                  </div>
                  <div class="flex-row-static-icon">
                    <div>
                      <a [href]="option.imageUrl" target="_blank">
                        <mat-icon
                          matTooltip="Просмотреть изображение"
                          nclass="pointer"
                          >open_in_new</mat-icon
                        >
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="2">
            <div class="matching-group">
              <div class="matching-left">
                <div
                  *ngFor="let option of question.leftMatching"
                  class="matching-left-drag"
                >
                  <div [innerHtml]="option.text"></div>
                  <div *ngIf="option?.imageUrl">
                    <div
                      *ngIf="option?.imageUrl"
                      class="flex-row-static"
                      style="gap: 8px; margin-top: 8px"
                    >
                      <div class="flex-row-static-item img">
                        <img [src]="option.imageUrl" />
                      </div>
                      <div class="flex-row-static-icon">
                        <div>
                          <a [href]="option.imageUrl" target="_blank">
                            <mat-icon
                              matTooltip="Просмотреть изображение"
                              nclass="pointer"
                              >open_in_new</mat-icon
                            >
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="matching-right">
                <div
                  cdkDropList
                  (cdkDropListDropped)="drop($event)"
                  style="width: calc(100% - 12px)"
                >
                  <div
                    *ngFor="let option of question.rightMatching"
                    class="matching-right-drag"
                    cdkDrag
                  >
                    <div [innerHtml]="option.text"></div>
                    <div *ngIf="option?.imageUrl">
                      <div
                        *ngIf="option?.imageUrl"
                        class="flex-row-static"
                        style="gap: 8px; margin-top: 8px"
                      >
                        <div class="flex-row-static-item img">
                          <img [src]="option.imageUrl" />
                        </div>
                        <div class="flex-row-static-icon">
                          <div>
                            <a [href]="option.imageUrl" target="_blank">
                              <mat-icon
                                matTooltip="Просмотреть изображение"
                                nclass="pointer"
                                >open_in_new</mat-icon
                              >
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="3">Порядок</ng-container>
          <ng-container *ngSwitchCase="4">
            <div>
              <ng-container *ngFor="let option of question.options; let i = index">
                <ng-container *ngIf="option.isBlank; else textBlank">
                  <mat-form-field
                    class="ignore-mat-field-padding-bottom"
                    style="width: fit-content;display: inline-block;max-width: 100%;"
                    color="accent"
                  >
                    <input
                      autoSizeInput
                      [setParentWidth]="true"
                      [extraWidth]="1"
                      [minWidth]="option?.text?.length ? 10 : 50"
                      matInput
                      type="text"
                      [(ngModel)]="option.text"
                    />
                  </mat-form-field>
                </ng-container>
                <ng-template #textBlank>
                  <span [innerHtml]="option.text"></span>
                </ng-template>
              </ng-container>
            </div>
          </ng-container>
        </div>
        <div></div>
      </mat-card>
      <div class="navigate">
        <div class="timer" *ngIf="timer.second">
          {{ timer.minute }}:{{ timer.second }}
        </div>
        <div>
          <button
            mat-icon-button
            (click)="before()"
            matTooltip="Предыдущий вопрос"
            [disabled]="lock"
          >
            <mat-icon>navigate_before</mat-icon>
          </button>
        </div>
        <div>
          <button
            mat-icon-button
            matTooltip="Список вопросов"
            [disabled]="lock"
          >
            <mat-icon>list</mat-icon>
          </button>
        </div>
        <div class="divider" style="margin-left: 8px;border-left: 1px solid rgba(255, 255, 255, 0.12);"></div>
        <div (click)="next()" matTooltip="Следующий вопрос" style="display: flex; align-items: center;padding-left: 16px;" class="pointer">
          <span>Далее</span>
          <button
            mat-icon-button
            [disabled]="lock"
          >
            <mat-icon>navigate_next</mat-icon>
          </button>
        </div>
      </div>
      <div class="finalize">
        <button mat-button [disabled]="lock" (click)="endAttempt()" class="white">
          Завершить тест
        </button>
        <br /><br />
      </div>
    </div>
    <ng-template #loading>
      <mat-spinner class="loading"></mat-spinner>
    </ng-template>
  </div>
</div>
