.auth-card {
  position: absolute;
  max-width: 300px;
  height: fit-content;

  margin: auto;
  top: 25px;
  right: 25px;
  bottom: 25px;
  left: 25px;
}

@media (max-height: 300px) {
  .auth-card {
    margin: 25px auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.auth-field {
  width: 100%;
}

.mat-card {
  background: #303030;
}

.login-action {
  display: flex;

  div {
    width: 100%;
    text-align: end;

    button {
      width: 100%;
    }

    a {
      color: #c8c8c8;
    }
  }
}
