<div class="text-center">
  <div class="under-header">
    <div class="under-header-left"><h3>Тесты</h3></div>
  </div>
  <ng-container *ngIf="tests; else loading">
    <ng-container *ngIf="tests.length; else noTests">
      <mat-card class="tests-line" *ngFor="let test of tests">
        <div class="test-fields">
          <div class="test-field">
            <div class="test-field-name">Название</div>
            <div class="test-field-value">
              {{ test.title }}
            </div>
          </div>
          <div class="test-field">
            <div class="test-field-name">Доступен</div>
            <div class="test-field-value">
              {{ testAvailable(test) }}
            </div>
          </div>
        </div>

        <div class="tests-line-right" style="height: 40px">
          <button
            mat-icon-button
            matTooltip="Просмотреть тест"
            [routerLink]="['test', test.id]"
          >
            <mat-icon>preview</mat-icon>
          </button>
          <button
            *ngIf="test.id == attemptResumeData?.testId"
            mat-icon-button
            matTooltip="Продолжить тест"
            (click)="proceedAttempt()"
          >
            <mat-icon>play_arrow</mat-icon>
          </button>
        </div>
      </mat-card>
    </ng-container>
    <ng-template #noTests>
      <div class="text-center white">В комнате ещё нет тестов</div>
    </ng-template>
  </ng-container>
  <ng-template #loading>
    <mat-spinner class="loading text-center"></mat-spinner>
  </ng-template>
</div>
