$gray-night-color: #303030;
$gray-color: #555555;
$gray-soft-color: #aaa;
$transparent-gray-color: #ffffff1f;
$purple-color: #9c27b0;
$purple-soft-color: #ce93d8;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: $gray-night-color;
}

::-webkit-scrollbar {
  background: $gray-color;
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: $gray-soft-color;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 0;
  -webkit-text-fill-color: #cccccc;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 174, 255, 0.04) 50%,
    rgba(255, 255, 255, 0) 51%,
    rgba(0, 174, 255, 0.03) 100%
  );
}

a {
  color: $purple-soft-color;
}

.pointer {
  cursor: pointer;
}

.divider {
  margin-left: 14px;
  border-left: 1px solid $gray-night-color;
  display: inline-block;
  height: 24px;
}

.mat-divider {
  display: block;
  border-top-width: 1px;
  border-top-style: solid;
  margin: 15px 0;
  border-top-color: hsla(0, 0%, 100%, 0.12);
}

.m {
  &l {
    margin-left: 15px !important;
  }
  &r {
    margin-right: 15px !important;
  }
  &t {
    margin-top: 15px !important;
  }
  &b {
    margin-bottom: 15px !important;
  }
}

table {
  width: 100%;
}

mat-icon {
  user-select: none;
}

.clip {
  display: block;
  margin-bottom: -3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.spacer {
  flex: 1 1 auto;
}

.loading {
  margin: 50px auto;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

snack-bar-container {
  min-height: 0 !important;
}

.mat-flat-button.mat-primary,
.mat-raised-button.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary {
  background-color: $purple-color;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: $purple-color;
}

.mat-tab-labels,
.mat-tab-links {
  justify-content: space-around !important;
}

.mat-dialog-container {
  width: 350px !important;
  padding: 14px !important;
}

.white {
  color: white;
}

.container {
  margin: 25px;

  .content {
    margin: auto;
    max-width: 600px;

    .header {
      display: flex !important;
      align-items: center;
      justify-content: center;
      color: white;
      max-width: 600px;

      &-left {
        flex: 1;
        width: 80%;
        text-align: left;

        h1,
        h3 {
          margin: 0;
        }
      }
      &-right {
        width: 20%;
        text-align: right;
      }
    }

    .room-description {
      position: relative;
      margin-top: 15px;
      padding: 13px 13px 2px 13px;
      color: white;
      border-left: 1px solid #ffffff1f;

      &::before {
        top: 0;
        color: #989898;
        font-size: 10px;
        position: absolute;
        content: "Описание комнаты";
      }
    }

    &-body {
      margin-top: 24px;
    }
  }
}

mat-form-field {
  width: 100%;
}

.field-wrapper {
  border-radius: 4px;
  margin: 24px 0;
  border: 1px solid $transparent-gray-color;

  &-title {
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 8px 8px 8px 16px;
  }

  &-body {
    padding: 16px;
  }
}

.room-content {
  max-width: 600px;
  margin: 25px auto;
}

.mat-tab-body-content {
  overflow: hidden !important;
}

.tests-line {
  display: flex !important;
  margin: 25px auto;
  align-items: center;
  justify-content: center;

  &-left {
    flex: 1;
    width: 50%;
    text-align: left;
  }
  &-right {
    flex: 1;
    width: 50%;
    text-align: right;
    height: 24px;
  }
}

.member-line {
  display: flex !important;
  margin: 25px auto;
  align-items: center;
  justify-content: center;

  &-left {
    flex: 1;
    width: 50%;
    text-align: left;
  }
  &-right {
    flex: 1;
    width: 50%;
    text-align: right;
    height: 24px;
  }
}

.header-background {
  overflow: hidden;
  position: relative;
  height: 100%;
  background: #9c27b0;
}

.header-section {
  width: 90%;
  position: absolute;
  z-index: 0;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-headline {
  color: #fff;

  h1 {
    font-size: 56px;
    font-weight: bold;
    line-height: 56px;
    margin: 15px 5px;
  }

  h2 {
    font-size: 20px;
    font-weight: 300;
    line-height: 28px;
    margin: 15px 0 25px 0;
  }
}

.under-header {
  display: flex !important;
  margin: 25px auto;
  align-items: center;
  justify-content: center;
  color: white;
  max-width: 600px;

  &-left {
    flex: 1;
    width: 80%;
    text-align: left;

    h1,
    h3 {
      margin: 0;
    }
  }
  &-right {
    text-align: right;
  }
}

.flex-row-static {
  display: flex;
  align-items: center;
  gap: 16px;

  &-item {
    width: calc(100% - 40px);
  }

  &-icon {
    width: 24px;

    button {
      width: 24px;
    }
  }
}
