<mat-card class="auth-card">
  <mat-card-title>Восстановление</mat-card-title>
  <mat-card-content>
    <div class="auth-container">
      <p>
        <mat-form-field class="auth-field" appearance="outline" color="accent">
          <mat-label>Введите новый пароль</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            [formControl]="passwd"
            required
          />
          <mat-error *ngIf="passwd.invalid">{{
            getErrorMessagePasswd()
          }}</mat-error>
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Скрыть пароль'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="auth-field" appearance="outline" color="accent">
          <mat-label>Повторите пароль</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            [formControl]="repeatPasswd"
            required
          />
          <mat-error *ngIf="repeatPasswd.invalid">{{
            getErrorMessageRepeatPasswd()
          }}</mat-error>
        </mat-form-field>
      </p>
      <div class="login-action">
        <div>
          <button
            mat-flat-button
            [disabled]="passwd.invalid || repeatPasswd.invalid"
            (click)="sendRecoveryRequest()"
          >
            Обновить
          </button>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
